 <!DOCTYPE html>
<html lang="en">
    
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


       <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                                
                                <!-- Custom styles for this template -->
        <link href="/static/index.css" rel="stylesheet">
                                
    </head>
    
    <body>
        
        <!-- Uncomment this if the nav bar covers the heading -->
<!--         <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"> -->
            <div class="header">
        <div class="nav">
            <div class="logoDiv">
                <a href="{{url_for('home')}}"><img src="/static/checkUp-logo-small.png" class="logo"></a>
            </div>

            <div class="menu">
                <div class="icon">
                    <form action="/upload" method="GET" class="navForm">
                        <button type="submit" class="btn input-class-level navButton">
                          <!-- <span class="uploadOrange"> -->
                            <img src="/static/upload-orange.svg" class="iconImg">
                          <!-- </span> -->
                        </button>
                    </form> 

                    <form action="/files" method="GET" class="navForm">
                        <button type="submit" class="btn input-class-level navButton">
                         <!--  <span class="folderOrange"> -->
                            <img src="/static/folder-orange.svg" class="iconImg" >
                          <!-- </span> -->
                        </button>
                    </form>
                    <form action="/graphs" method="GET" class="navForm">
                        <button type="submit" class="btn input-class-level navButton" class="iconImg">
                          <!-- <span class="graphOrange"> -->
                            <img src="/static/graph-orange.svg" class="iconImg">
                          <!-- </span> -->
                        </button>
                    </form>
                    <form action="/account" method="GET" class="navForm">
                        <button type="submit" class="btn input-class-level navButton" class="iconImg">
                          <!-- <span class="settingsOrange"> -->
                            <img src="/static/settings-orange.svg" class="iconImg">
                          <!-- </span> -->
                        </button>
                    </form>
                    <form action="/logout" method="POST" class="navForm">
                        <button type="submit" class="btn logout">
                          Log Out
                        </button>
                    </form>
                </div>
            </div>
                
        </div>
<!--         </nav> -->
        
        <!-- Page Content -->
        <div class="container">
            
            <!-- Page Heading -->
            <h1 class="my-4">Your Files:
            </h1>
            
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 meddocument">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top meddoc" src="/static/hold.jpg" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">

							{% for docName in data %}
                              <tr>
                                  <td>{{docName.docName}}</td>
                          <!--         <td>{{docName[1]}}</td> -->
                              </tr>
                              {% endfor %}                            
                          </h4>

                        </div>
                    </div>
                </div>
                

            </div>
      
        </div>
        <!-- /.container -->
        
        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        
    </body>
    
</html>