<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom styles for this template -->
    <link href="/static/index.css" rel="stylesheet">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">

    <title>CheckUP - Graphs</title>

  </head>

  <body>
    <div class="header">
    <div class="nav">
      <div class="logoDiv">
        <a href="{{url_for('home')}}"><img src="/static/checkUp-logo-small.png" class="logo"></a>
      </div>

      <div class="menu">
        <div class="icon">
          <form action="/upload" method="GET" class="navForm">
            <button type="submit" class="btn input-class-level navButton">
                    <!-- <span class="uploadOrange"> -->
                      <img src="/static/upload-orange.svg" class="iconImg">
                    <!-- </span> -->
                  </button>
              </form> 

              <form action="/files" method="GET" class="navForm">
                  <button type="submit" class="btn input-class-level navButton">
                   <!--  <span class="folderOrange"> -->
                      <img src="/static/folder-orange.svg" class="iconImg" >
                    <!-- </span> -->
                  </button>
              </form>
              <form action="/graphs" method="GET" class="navForm">
                  <button type="submit" class="btn input-class-level navButton" class="iconImg">
                    <!-- <span class="graphOrange"> -->
                      <img src="/static/graph-orange.svg" class="iconImg">
                    <!-- </span> -->
                  </button>
              </form>
              <form action="/account" method="GET" class="navForm">
                  <button type="submit" class="btn input-class-level navButton" class="iconImg">
                    <!-- <span class="settingsOrange"> -->
                      <img src="/static/settings-orange.svg" class="iconImg">
                    <!-- </span> -->
                  </button>
              </form>
              <form action="/logout" method="POST" class="navForm">
                  <button type="submit" class="btn logout">
                    Log Out
                  </button>
              </form>
        </div>
        </div>     
      </div>
    </div>

    <!-- Page Content -->
    <div class="container-graph">

      <!-- Page Heading -->
      <h1 class="my-4">Your Health Summary
      </h1>

<!--       <h1 class="my-4">Upload a file
        <small>Secondary Text</small>
      </h1> -->

      <div class="row">

        <div class="col-lg-6 fileUpload">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                {{title}}
              </h4>
              <meta charset="utf-8" />
              <!-- import plugin script -->
              <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
            <!-- bar chart canvas element -->
            <canvas id="myChart" width="500" height="400"></canvas>
            <p id="caption">The chart is displaying {{title}} over time.</p>
          </div>
        </div>
    </div>

        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                Your Health Summary:
              </h4>
              <div class = "form-horizontal">
                <form action="/displayGraph" method="POST">

                  <div class="row">

                    <label class="control-label col-lg-6" for="height">

                      Height
                    </label>
                    <!-- <div class="control-data col-lg-2">
                      <i> 5'5 </i>
                    </div> -->
                    <div class="control-data col-lg-6">
                    <input type="radio"name="typeID" value="0">
                    </div>
                  </div>

                  <div class="row">
                    <label class="control-label col-lg-6" for="weight">
                      Weight
                    </label>
                    <!-- <div class="control-data col-lg-2">
                       <i> 145 lb </i>
                    </div> -->
                    <div class="control-data col-lg-6">
                    <input type="radio"name="typeID" value="1">
                    </div>
                  </div>

                  <div class="row">
                    <label class="control-label col-lg-6" for="bp">
                      Blood Pressure
                    </label>
                    <!-- <div class="control-data col-lg-2">
                      <i> 120/90 </i>
                    </div> -->
                    <div class="control-data col-lg-6">
                    <input type="radio"name="typeID" value="2">
                    </div>
                  </div>

                  <div class="row">
                    <label class="control-label col-lg-6" for="hr">
                      Heart Rate
                    </label>
                    <!-- <div class="control-data col-lg-2">
                      <i> 80 bpm </i>
                    </div> -->
                    <div class="control-data col-lg-6">
                    <input type="radio"name="typeID" value="3">
                    </div>
                  </div>

                  <div class="row">
                    <label class="control-label col-lg-6" for="bs">
                      Blood Sugar
                    </label>
                    <!-- <div class="control-data col-lg-2">
                      <i> 70 mg/dl <i>

                    </div> -->
                    <div class="control-data col-lg-6">
                    <input type="radio"name="typeID" value="4">
                    </div>
                  </div>

                  <div class="row">
                    <div class="center-block">
                        <div class="col-lg-3">
                          <button type="submit" class="btn btn-lg completebutton-graph">Display Graph</button>  
                        </div>
                    </div>      
                  </div>
                  

                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

<script>
// Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = false;

// define the chart data
var chartData = {
  labels : [{% for item in labels %}
             "{{item}}",
            {% endfor %}],
  datasets : [{
      label: '{{ legend }}',
      fill: true,
      lineTension: 0.1,
      backgroundColor: "rgba(75,192,192,0.4)",
      borderColor: "rgba(75,192,192,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(75,192,192,1)",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data : [{% for item in values %}
                {{item}},
              {% endfor %}],
      spanGaps: false
  }]
}

// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");

// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'line',
  data: chartData,
});

</script>
