<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="../index.css" rel="stylesheet">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">

	<title>CheckUP</title>
</head>
<body>
	<div class="header">
		<div class="nav">
			<div class="logoDiv">
				<a href="index.html"><img src="svg/checkUp-logo-small.png" class="logo"></a>
			</div>

			<div class="menu">
				<div class="icon">
					<form action="/upload" method="GET">
						<button type="submit" class="btn input-class-level navButton">
			              <!-- <span class="uploadOrange"> -->
			                <img src="/static/upload-orange.svg" class="iconImg">
			              <!-- </span> -->
			            </button>
			        </form> 

			        <form action="/files" method="GET">
			            <button type="submit" class="btn input-class-level navButton">
			             <!--  <span class="folderOrange"> -->
			                <img src="/static/folder-orange.svg" class="iconImg">
			              <!-- </span> -->
			            </button>
			        </form>

			        <form action="/graphs" method="GET">
			            <button type="submit" class="btn input-class-level navButton" class="iconImg">
			              <!-- <span class="graphOrange"> -->
			                <img src="/static/graph-orange.svg" width="25px" height="25px">
			              <!-- </span> -->
			            </button>
			        </form>

			        <form action="/settings" method="GET">
			            <button type="submit" class="btn input-class-level navButton" class="iconImg">
			              <!-- <span class="settingsOrange"> -->
			                <img src="/static/settings-orange.svg" width="25px" height="25px">
			              <!-- </span> -->
			            </button>
			        </form>

			        <form action="logout" method="POST">
			            <button type="submit" class="btn logout">
			              Log Out
			            </button>
			        </form>
				</div>
			</div>
				
		</div>
	</div>

	










    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  
</body>
</html>